name: Sync Fork

on:
  schedule:
    - cron: "0 3 * * *" # 每天凌晨 3 点自动运行
  workflow_dispatch: # 也允许手动触发

# Ensure the workflow has the permissions needed to push/merge and create PRs.
permissions:
  contents: write
  pull-requests: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN != '' && secrets.PERSONAL_TOKEN || github.token }}
      - name: Sync with upstream
        run: |
          set -e
          API_URL="https://api.github.com/repos/venera-app/venera-configs/git/trees/main?recursive=1"
          FILE_LIST=$(curl -s $API_URL)
          echo "$FILE_LIST" | jq -r '.tree[].path | select(endswith(".js") or . == "index.json")' | while read -r filepath; do
            DOWNLOAD_URL="https://raw.githubusercontent.com/venera-app/venera-configs/main/$filepath"
            mkdir -p "$(dirname "$filepath")"
            # Use -z to only download if the remote file is newer than the local one.
            # The local file's timestamp is used for the If-Modified-Since header.
            # If the local file doesn't exist, it will be downloaded.
            echo "Checking for updates for $filepath..."
            curl -s -f -L -o "$filepath" -z "$filepath" "$DOWNLOAD_URL"
          done
      - name: Create merged JSON file
        id: merge_json
        run: |
          # Combine index.json and index2.json, removing duplicates, and save to merge.json
          jq -s 'add | unique_by(.key)' index.json index2.json > merge.json
          echo "changes=$(git status --porcelain=v1 | wc -l)" >> $GITHUB_OUTPUT

      - name: Commit and push changes
        if: steps.merge_json.outputs.changes > 0
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "chore: Sync upstream sources and update merge.json"
          git push
